@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

:root{
    --cor1:#FFFFFF;
    --cor2:#383D58;
    --cor3:#4DB7E0;
}

html, body{
    min-height: 100vh;
}

header{
    padding-bottom: 5vh;
    display: inline;
    width: 100vw;

}

header > h1, header > p{
    display: inline;
}

header > p{
    justify-content: end;
}

div{
    display: flex;
    width: 130px;

}